@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

@font-face {
    font-family: Hornbill;
    src: url('@/assets/Hornbill-Personal Use Black.otf');
}

:root {
    --main-fore-color: #fffde3;
    --main-back-color: #1f1c18;
}

body {
    font-family: 'Ubuntu';
    color: var(--main-fore-color);
    background-color: var(--main-back-color);
    margin: 10%;
}

a {
    text-decoration: none;
    color: #FFDD55;
}

.rainbow {
    background-image: repeating-linear-gradient(45deg,
            hsl(0deg, 100%, 50%) 0%,
            hsl(30deg, 100%, 50%) 8%,
            hsl(60deg, 100%, 50%) 16%,
            hsl(90deg, 100%, 50%) 24%,
            hsl(120deg, 100%, 50%) 32%,
            hsl(150deg, 100%, 50%) 40%,
            hsl(180deg, 100%, 50%) 48%,
            hsl(210deg, 100%, 50%) 56%,
            hsl(240deg, 100%, 50%) 64%,
            hsl(270deg, 100%, 50%) 72%,
            hsl(300deg, 100%, 50%) 80%,
            hsl(330deg, 100%, 50%) 88%,
            hsl(30deg, 100%, 50%) 96%);
    background-size: 5000% 5000%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow 30s linear infinite;
}

@keyframes rainbow {
    0% {
        background-position: 50% 0%;
    }

    50% {
        background-position: 50% 100%;
    }

    100% {
        background-position: 50% 0%;
    }

}
